@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400;1,500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: ubuntu, sans-serif;
}
body {
  background-color: #f9f9f9;
}
.row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .col {
    display: flex;
  }
}
button {
  background: rgb(57, 57, 221);
  outline: none;
  color: #f0f8ff;
  padding: 3px 5px;
  border: 2px solid rgb(16, 16, 71);
  &:focus {
    padding: 5px 7px;
    border-width: 3px;
  }
}
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #3f3f3f;
  display: flex;
  flex-wrap: wrap;
  .sidemenu {
    flex: 1 1 auto;
    display: none;
    flex-direction: column;
    border-right: 5px solid #ebebeb;
    align-items: center;
    .logo {
      object-fit: cover;
      width: 50px;
      height: 50px;
      margin-top: 10%;
      overflow: hidden;
      border-radius: 50%;
      border-collapse: collapse;
      img {
        width: 100%;
      }
    }
    ul.controls {
      list-style-type: none;
      li {
        width: 100%;
        padding: 15px;
      }
    }
  }
  section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
  }
}
.main-info {
  z-index: 3;
  flex: 4 1 auto;
  height: 100%;
  color: rgb(37, 37, 37);

  .main-info__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 60vw;
    position: absolute;
    left: 5%;
    top: 15%;
    bottom: 15%;
    padding: 40px 20px 20px 40px;
    // padding-left: 40px;
    z-index: 7;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.9px);
    -webkit-backdrop-filter: blur(8.9px);
    border: 1px solid rgba(147, 147, 147, 0.15);
    border-radius: 20px;
    text-shadow: 0px 0px 5px #30303097, 0px 0px 10px #f7f7f777;

    .card__info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      h3 {
        font-size: 4rem;
        font-weight: 600;
        color: #ebebeb;
      }

      span.label {
        font-size: 2.1rem;
        font-weight: 500;
        margin-right: 10px;
        color: #929292;
        text-shadow: none;
      }
    }
  }
}
.decor {
  z-index: 8;
  position: absolute;
  left: 60%;
  top: 35%;
  height: 80vw;
  width: 80vw;
  .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
    background-image: -webkit-linear-gradient(
      -45deg,
      rgba(255, 255, 220, 0.3) 0%,
      transparent 100%
    );
    background-image: -moz-linear-gradient(
      -45deg,
      rgba(255, 255, 220, 0.3) 0%,
      transparent 100%
    );
    background-image: -o-linear-gradient(
      -45deg,
      rgba(255, 255, 220, 0.3) 0%,
      transparent 100%
    );
    background-image: -ms-linear-gradient(
      -45deg,
      rgba(255, 255, 220, 0.3) 0%,
      transparent 100%
    );
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    box-shadow: -10px 15px 30px 5px #00000023,
      inset -25px -25px 40px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    transition: 2s linear all;
    &:hover {
      border-radius: 45%;
      opacity: 0.9;
    }
  }
}
.decor_2 {
  width: 100%;
  height: 200vh;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  .runnerElem {
    position: absolute;
    border-radius: 50px;
    &.green {
      background: linear-gradient(
        -90deg,
        rgb(65, 255, 12) 10%,
        rgb(65, 255, 12, 0)
      );
      &.left {
        background: linear-gradient(
          90deg,
          rgb(65, 255, 12) 10%,
          rgb(65, 255, 12, 0)
        );
      }
    }
    &.purple {
      background: linear-gradient(
        -90deg,
        rgb(168, 44, 229) 10%,
        rgb(168, 44, 229, 0)
      );
      &.left {
        background: linear-gradient(
          90deg,
          rgb(168, 44, 229) 10%,
          rgb(168, 44, 229, 0)
        );
      }
    }
  }
}
.cursor_follower {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #3333332f;
  z-index: 1;
  pointer-events: none;
  transition: 0.1s all ease;
}
::-webkit-scrollbar {
  appearance: none;
  width: 10px;
  height: 100%;
  background-color: rgb(216, 221, 248);
  z-index: 1000;
}
::-webkit-scrollbar-button {
  appearance: none;
  width: 10px;
  height: 10px;
  background-color: rgb(222, 222, 222);
}
::-webkit-scrollbar-track {
  appearance: none;
  width: 20px;
  height: 40%;
  background-color: rgb(168, 44, 229);
  box-shadow: 0 0 10px 0 #76767663;
}
::-webkit-scrollbar-thumb {
  appearance: none;
  width: 20px;
  background-color: rgb(65, 255, 12);
}

section.works_list {
  background-color: #3f3f3f;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  height: auto;
  min-height: 60vh;
  max-height: 100vh;
  margin-top: 20vh;
  h2 {
    color: #ebebeb;
    font-size: 3.6rem;
    height: 100px;
    width: 100%;
    z-index: 100;
    text-shadow: 0px 0px 5px #30303097, 0px 0px 5px #f7f7f777;
  }
  select {
    display: block;
    align-self: start;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    padding: 5px;
    width: 12.8rem;
    transition: 0.2s;
    color: #929292;
    &:focus {
    }
    option {
      appearance: none;
      text-transform: capitalize;
      background-color: #333;
      outline: none;
      border: none;
      border-bottom: 2px solid #1b1b1b;
      height: 0;
      overflow: hidden;
    }
    @-moz-document url-prefix() {
      select {
        color: rgba(0, 0, 0, 0);
        text-shadow: 0 0 0 #ffffff;
      }
    }
  }
  ul.works_list {
    list-style: none;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    flex: 1 1 100%;
    // padding-top: 50px;
    overflow-x: auto;

    li {
      width: 19%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px 5px;
      align-items: center;
      justify-content: center;
      a {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        transition: 0.4s ease;
        color: #929292;
        text-decoration: none;
        font-size: 2rem;
        overflow: hidden;
        text-shadow: 0 0 5px #3a3a3a2d;
        z-index: 1000;
        span {
          font-size: 0.8rem;
          margin-left: 5px;
        }
        &:hover {
          color: #ebebeb;
          &::after,
          &::before {
            right: 0;
          }
        }
        &::after,
        &::before {
          content: "";
          z-index: 10;
          transition: 0.3s ease;
          position: absolute;
          right: 100%;
          bottom: 0px;
          width: 100%;
          height: 3px;
        }
        &::after {
          background-color: rgb(168, 44, 229);
          transition-delay: 0.15s;
        }
        &::before {
          background-color: rgb(65, 255, 12);
        }
      }
    }
  }
}
.cube-decor {
  padding: 0;
  margin: 0;
  transform-style: preserve-3d;
  perspective: 10000px;
  position: absolute;
  top: 70%;
  transition: 1.5s ease-out;
  left: -20vw;
  z-index: -1;

  // animation: rotator 3s forwards infinite linear;
  .face {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.5s ease;
    background: rgb(237, 237, 237);

    &:hover {
      transform: translateZ(-200px);
    }
    // &.right, &.left, &.top, &.bottom{
    // }
    &.right {
      transform: translateX(50%) rotateY(90deg);
      background-image: linear-gradient(-45deg, #cfcfcf, rgb(235, 235, 235));
      &:hover {
        transform: translateX(60%) rotateY(90deg);
      }
    }
    &.left {
      transform: translateX(-50%) rotateY(90deg);
      &:hover {
        transform: translateX(-60%) rotateY(90deg);
      }
    }
    &.top {
      transform: translateY(-50%) rotateX(90deg);
      &:hover {
        transform: translateY(-60%) rotateX(90deg);
      }
    }
    &.bottom {
      transform: translateY(50%) rotateX(90deg);
      &:hover {
        transform: translateY(60%) rotateX(90deg);
      }
    }
    &.front {
      transform: translateZ(300px);
      &:hover {
        transform: translateZ(350px);
      }
    }
    &.back {
      transform: translateZ(-300px);
      background-image: linear-gradient(-45deg, #e0e0e0, rgb(230, 230, 230));
      &:hover {
        transform: translateZ(-350px);
      }
    }
  }
  transform: rotateX(-26deg) rotateY(-15deg) rotateZ(-11deg);
}

.rotating-text {
  position: absolute;
  animation: rotating-text 3s infinite forwards linear;
  span {
    position: absolute;
    transform-origin: 0 150px;
    left: 50%;
    text-transform: capitalize;
  }
}

section.contacts {
  z-index: 1;
  background: none;
  margin-top: 20vh;
  background: #333;
  .contacts__row {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    .contacts__col {
      flex: 0 0 100%;
      height: 320px;
      align-items: center;
      padding: 0;
      a.contacts__link {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        object-fit: contain;
        z-index: 100;
        text-decoration: none;
        color: #dddddd;
        font-size: 2rem;
        font-weight: 600;
        .contacts__logo {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        h2 {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 15px;
          border-radius: 50px;
          flex: 1 1 auto;
          // height: 80%;
          background: #222222;
        }
        img {
          display: block;
          width: 300px;
          max-height: 300px;
          margin-right: 10%;
        }
        .rotating-text {
          width: 360px;
          height: 360px;
          left: -45px;
          top: -45px;
          span {
            transform-origin: 0 180px;
          }
        }
      }
    }
  }
}

@keyframes rotating-text {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 1300px) {
  .main-info {
    .main-info__card {
      width: 80%;
      margin: 0 auto;
      left: 0;
      right: 0;
      .card__info {
        h3 {
          font-size: 3.2rem;
        }
        span.label {
          font-size: 1.3rem;
        }
      }
    }
  }
  .decor {
    width: 900px;
    height: 900px;
    border-radius: 50%;
    top: 60vh;
    left: auto;
    right: -500px;
  }
  section.works_list ul.works_list li {
    width: 33%;
  }
  .cube-decor .face {
    width: 400px;
    height: 400px;
    &.front {
      transform: translateZ(200px);
    }
    &.back {
      transform: translateZ(-200px);
    }
  }
}
@media screen and (max-width: 920px) {
  .main-info {
    .main-info__card {
      height: 50vh;
      width: 80vw;
      .card__info h3 {
        font-size: 2.7rem;
      }
    }
  }
  .cube-decor {
    left: -40vw;
    // top: 60%;
  }

  section.works_list ul.works_list li {
    width: 49%;
  }
  section.contacts {
    height: auto;
    .contacts__row {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
      height: auto;
      .contacts__col {
        width: 100%;
        flex: 1 1 450px;
        margin-top: 35px;
        a.contacts__link {
          height: auto;
          flex-direction: column;
          align-items: center;

          .contacts__logo {
            margin: 50px 0 40px 0;
          }
          h2 {
            width: 100%;
            padding: 30px 15px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 720px) {
  .decor {
    top: 40vh;
  }
  .main-info {
    z-index: 100;
    .main-info__card {
      z-index: 100;
      height: 70vh;
      width: auto;
      margin: 3%;
      .card__info {
        flex-direction: column;
        align-items: start;
        z-index: 100;

        h3 {
          margin-left: 15px;
        }
      }
    }
  }

  .cube-decor {
    left: -20vw;
    top: 80vh;
    .face {
      width: 250px;
      height: 250px;
      &.front {
        transform: translateZ(125px);
      }
      &.back {
        transform: translateZ(-125px);
      }
    }
  }

  section.works_list ul.works_list li {
    width: 49%;
  }
}

@media screen and (max-width: 520px) {
  .main-info .main-info__card {
    padding: 5%;
    padding-top: 50px;
  }

  .decor {
    width: 600px;
    height: 600px;
    right: -350px;
    top: 60vh;
  }

  section.works_list ul.works_list li {
    width: 100%;
    margin: 10px 0;
  }
  .cube-decor {
    top: 70vh;
  }
  section.contacts .contacts__row .contacts__col a.contacts__link {
    img {
      width: 200px;
      // height: 200px;
    }
    h2 {
      width: 100%;
      font-size: 2.3rem;
      padding: 30px 15px;
    }

    .rotating-text {
      width: 220px;
      height: 220px;
      top: -20px;
      left: -20px;
      &.telegram {
        top: -10px !important;
        left: -20px !important;
      }
      span {
        font-size: 1.2rem;
        transform-origin: 0 110px;
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .main-info .main-info__card .card__info h3 {
    font-size: 2.2rem;
  }
  // .cube-decor .face {
  //   width: 150px;
  //   height: 150px;
  //   &.front {
  //     transform: translateZ(75px);
  //   }
  //   &.back {
  //     transform: translateZ(-75px);
  //   }
  // }
  section.works_list {
    padding: 15px;
  }
}
